<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id = "engine" class="com.example.demoCRUD.model.Engine">
        <constructor-arg value="V8"/>
    </bean>

    <bean id="car" class="com.example.demoCRUD.model.Car">
        <constructor-arg ref="engine"/>
    </bean>



</beans>